<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<!--El style se pone entre el head y body normalmente y sirve para editar con css los elementos-->
<!--luego de poner un elemento entre las {} lo edito para que se muestre asi cuando lo use en el body-->
<style>  
    h2{ background-color:rgb(247, 0, 255);}  
</style>

<!--script es una etiqueta para ejecutar js-->
<script>
    alert("Hola soy js dentro de html")
</script>

<!--Las etiqutas tambien se pueden editar cuando se utilizan como en el h1 o el button-->
<body>
    <h1 style="background-color: rgb(0, 242, 255);">Hola esto es html</h1>
    <h2>Hola soy {{variable}}</h2>
    <p>Esto es un parrafo en html</p>
    <p>{{frutas}}</p>

    <button style="background-color: brown;">Preciona</button>
    <a href="https://keepcoding.io">ir a Keepcoding </a>
</body>
</html>  